@font-face {
    font-family: 'Montserrat';
    src: url('../webfonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --fuentePrincipal: 'Montserrat', sans-serif;

    --azulprimario: #2E3E80;
    --azulsecundario: #759CC0;
    --negroprimario: #302E2C;
    --naranjaprimario: #FF7500;
    --naranjasecundario: #ffb25b;
    --fondo: #F8F1E0;
    --blanco: #ffffff;
    --negro: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.body {
    background-color: var(--fondo);
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

/* nav */
.navbar {
    background-color: var(--negroprimario);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar img {
    width: 5rem;
}

.navbar ul {
    padding-top: 1rem;
}

.nav-item a {
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

.login-button {
    width: 100%;
    padding: .5rem .5rem;
    background-color: var(--azulsecundario);
    border-radius: .5rem;
    border: none;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

.banner {
    margin: 0;
    height: 25rem;
    width: 100%;
    background-image: url(../resources/main-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.banner-h1,
.banner-h2 {
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--negroprimario);
    padding-top: 3rem;
}

.banner-h1 {
    font-weight: 700;
}

.banner-h1 span {
    text-transform: uppercase;
    color: var(--azulprimario);
}

.banner-h2 {
    font-weight: 600;
}

/* DESKTOP */
@media (min-width: 992px) {
    .navbar img {
        width: 6rem;
    }

    .navbar-nav {
        margin: 0 5rem;
        width: 100%;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    .navbar ul {
        padding-top: 0;
    }

    .login-button {
        padding: .7rem 0;
        width: 10rem;
        text-transform: uppercase;
        transition: .3s;
    }

    .navbar a:hover {
        color: var(--naranjaprimario);
    }

    .navbar button:hover {
        background-color: var(--naranjaprimario);
    }
}

@media (min-width: 600px) {

    .banner {
        width: 100%;
        height: 35rem;
        background-size: 100% 35rem;
    }

    .banner-h1,
    .banner-h2 {
        padding-top: 5rem;
    }
}


/* -------------------------------------------------------------------------- */
/*                                    main index                              */
/* -------------------------------------------------------------------------- */

.articles {
    height: 30rem;
    margin: 1rem 1rem 12rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "img-1 img-2"
        "img-3 img-4";
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

#index-card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#index-card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#index-card-title,
#index-card-text {
    color: var(--blanco);
    margin-bottom: .3rem;
}

.btn-index-gallery {
    border: none;
    background-color: var(--azulsecundario);
}

/* DESKTOP */

@media (min-width: 992px) {
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem 1rem;
        grid-auto-flow: row;
        grid-template-areas:
            "img-1 img-2 img-3 img-4";
        margin: 1rem auto 12rem auto;
        width: 90%;
    }

    .img-1 {
        grid-area: img-1;
    }

    .img-2 {
        grid-area: img-2;
    }

    .img-3 {
        grid-area: img-3;
    }

    .img-4 {
        grid-area: img-4;
    }

    #index-card-img {
        height: 40rem;
    }

    #index-card-img-overlay {
        align-items: center;
    }

    #index-card-title {
        font-size: 2rem;
        text-shadow: 0px 0px 10px var(--negro);
    }

    #index-card-text {
        font-size: 1.5rem;
        text-shadow: 0px 0px 10px var(--negro);
    }

    .btn-index-gallery {
        width: 100%;
    }
}


/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
    height: 9rem;
}

.footer-bar {
    background-color: var(--negroprimario);
    display: block;
    padding-top: 1rem;
    text-align: center;
}

.footer-bar h1 {
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icon {
    width: 80%;
}

.footer-bar h6 {
    color: var(--blanco);
    padding: 1rem;
    text-align: right;
    font-size: .8rem;
    font-family: var(--fuentePrincipal);
}

/* DESKTOP */

@media (min-width: 992px) {
    .footer-bar h1 {
        font-size: 1.5rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   contact                                  */
/* -------------------------------------------------------------------------- */

.form {
    margin: 2rem;
}

.form button {
    background-color: var(--azulsecundario);
    margin: 1rem 0;
    border: none;
}

.form button:hover {
    background-color: var(--naranjaprimario);
}

/* DESKTOP */

@media (min-width: 768px) {

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "contact-img-1 contact-content contact-content contact-img-2";
    }

    .contact-img-1 {
        grid-area: contact-img-1;
        background-image: url(../resources/bg.jpg);
        margin: .5rem 3rem;
    }

    .contact-content {
        grid-area: contact-content;
    }

    .contact-img-2 {
        grid-area: contact-img-2;
        background-image: url(../resources/bg.jpg);
        margin: .5rem 3rem;
        transform: scaleX(-1);
    }
}

/* -------------------------------------------------------------------------- */
/*                                    about                                   */
/* -------------------------------------------------------------------------- */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "about-content about-content about-img";
}

.about-content {
    grid-area: about-content;
    margin: auto 4rem;
}

.about-img {
    grid-area: about-img;
    margin: 2rem;
}

.about-content h2,
.about-content h4 {
    font-family: var(--fuentePrincipal);
}

.davis-store {
    font-weight: 700;
    color: var(--azulprimario);
    font-family: var(--fuentePrincipal);
}

/* -------------------------------------------------------------------------- */
/*                                   gallery                                  */
/* -------------------------------------------------------------------------- */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "gallery-filter gallery-img gallery-img gallery-img";
}

.gallery-filter {
    grid-area: gallery-filter;
    background-color: rgba(255, 178, 91, .5);
    border-radius: .3rem;
    padding: 1rem;
    margin: 2rem;
}

.gallery-img {
    grid-area: gallery-img;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: .5rem;
}

.precio {
    width: 7rem;
    margin-right: 1rem;
}

.gallery-img .card {
    width: 30%;
}

.gallery-img .card img {
    height: 25rem;
    padding: .5rem;

}

.gallery-btn {
    background-color: var(--azulsecundario);
    border: none;
}

.gallery-btn:hover {
    background-color: var(--naranjaprimario);
}

/* -------------------------------------------------------------------------- */
/*                                    cart                                    */
/* -------------------------------------------------------------------------- */